.center{
    margin-top: 75px;
}
.login-wrap{
    width: 370px;
    height: 450px;
    background: #ffffff;
    padding-left: 0 !important;
}

img{
    width: 270px;
    height: 450px;
}

.login-logo img{
    width: 120px;
    margin-top: 20px;
}

.phone-icon{
    position: relative;
    display: inline-block;
}
.number-input{
    margin-top: 20px;
}